/node_modules
/public/hot
/public/storage
/public/assets/img/wedding/photo/gallery
/public/assets/img/wedding/photo/sampul
/public/assets/img/wedding/attachment
/public/assets/file/musik
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
